---
layout: base
projects: selected
title: Projects
description: A listing of some of Nick Knowlson's side projects.
---

These are my side projects that are big or neat enough to warrant a nice writeup, pictures and maybe a screencast. For these plus smaller bits of code and more frequent updates, check out my <a href="https://github.com/nickknw">github account</a>!

<div class="blockylist bigblockylist">
    <ul>
        {% for page in site.pages %}
            {% if page.is_project %}
                <li class="test">
                <a href="{{ page.url }}"> 
                        <img src="{{ page.thumbnail }}" />
                        <h1>{{ page.title }}</h1>
                        <div><strong>Languages: </strong>{{ page.languages }}</div>
                        <div><strong>Summary: </strong>{{ page.summary }}</div>
                </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
