@charset "UTF-8";
/* Many thanks to inuit.css, which I hacked to pieces to create the following */

/*------------------------------------*\
	RESET
\*------------------------------------*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{
	display: block;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img{ 
	border:0;
}
address,caption,cite,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}

/*------------------------------------*\
	BASELINE
\*------------------------------------*/
html{
	overflow-y:scroll; /* Force scrollbars 100% of the time */
	font-size:100%; /* Use 16px as per http://www.informationarchitects.jp/en/100e2r/ and http://www.wilsonminer.com/posts/2008/oct/20/relative-readability/ */
	/*font-family:Calibri, "Helvetica Neue", Arial, sans-serif; */
        font-family:Cambria, Georgia, "Times New Roman", serif; 
	line-height:1.5;
	color:#333;
}

body{
	width:940px;
	min-height:100%;
	padding:10px;
	margin:0 auto;
}

/*--- GRID ---*/
.grids{
	margin-left:-20px;
	overflow:hidden;
	clear:both;
}
.grid{
	float:left;
	margin:0 20px 0 0;
}
.grids .grid{
	margin:0 0 0 20px;
}

.grid-1		{ width:40px; }
.grid-2		{ width:100px; }
.grid-3		{ width:160px; }
.grid-4		{ width:220px; }

.grid-5		{ width:280px; }
.grid-6		{ width:340px; }
.grid-7		{ width:400px; }
.grid-8		{ width:460px; }

.grid-9		{ width:520px; }
.grid-10	{ width:580px; }
.grid-11	{ width:640px; }
.grid-12	{ width:700px; }

.grid-13	{ width:760px; }
.grid-14	{ width:820px; }
.grid-15	{ width:880px; }
.grid-16	{ width:940px; margin:0; }

/*--- NAV ---*/
#nav{
	list-style:none;
	width:100%;
	overflow:hidden;
	margin:0;
}
#nav li{
	float:left;
}
#nav a{
	display:block;
}

/*--- TYPE AND SPACING ---*/
h1{
	font-size:2em;			/* 32px */
	margin-bottom:0.25em;           /* I had some good reason for this.. TODO: FIND IT */
	line-height:1.5;		/* 48px */
}
h2{
	font-size:1.5em;		/* 24px */
	margin-bottom:1em;		/* 24px */
	line-height:1;			/* 24px */
}
h3{
	font-size:1.25em;		/* 20px */
	margin-bottom:1.2em;	/* 24px */
	line-height:1.2;		/* 24px */
}
h4{
	font-size:1.125em;		/* 18px */
	margin-bottom:1.333em;	/* 24px */
	line-height:1.333;		/* 24px */
}
h5{
	font-weight:bold;
}
h5,
h6{
    font-size:1em;			/* 16px */
    margin-bottom:1.5em;	/* 24px */
    line-height:1.5;		/* 24px */
}

p {
    margin-bottom:1.5em;
}

a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

ul, ol {
    margin:0 0 1em 60px;
}
ul ul, ol ol, ul ol, ol ul {
    /* Let’s take care of lists in lists */
    margin:0 0 0 60px;
}
dl {
    margin-bottom:1.5em;
}
dt {
    font-weight:bold;
}
dt:after, dt::after {
    content:":";
}
dd {
    margin-left:60px;
}

q,
i,
em,
cite{
	font-style:italic;
	font-weight:inherit;
}
b,
strong{
	font-weight:bold;
	font-style:inherit;
}
mark{
	background:#ffc;
}
s,
del{
	text-decoration:line-through;
}
small{
	font-size:0.75em;
	line-height:1;
}

pre,
code{
	font-family:monospace;
	font-size:1em;
}
pre{
	overflow:auto;
	margin-bottom:1.5em;
	line-height:18px;
}
code{
	line-height:1;
}

img{
	max-width:100%;
	height:auto;
}

object,
embed,
video{
	max-width:100%;
	height:auto;
}

/*--- FORMS ---*/
fieldset{
	padding:10px;
	border:1px solid #ccc;
	margin-bottom:1.5em;
}
label{
	display:block;
	cursor:pointer;
}
input,
textarea{
	font-family:inherit;
	font-size:1em;
	line-height:1.5;
}

/*--- TABLES ---*/
table{
	margin-bottom:1.5em;
	width:100%;
	max-width:100%;
}
th,td{
	vertical-align:top;
}
th{
	font-weight:bold;
	text-align:center
}
td[colspan]{
	text-align:center;
}
tfoot{
	text-align:center;
}

/*--- MISC ---*/
.accessibility{
	/* Hide content off-screen without hiding from screen-readers. N.B. This is not suited to RTL languages */
	position:absolute;
	left:-99999px;
}

/*------------------------------------*\
	NARROW
\*------------------------------------*/
/*
CSS for tablets and narrower devices
*/
@media (min-width: 721px) and (max-width: 960px) {
    body {
        width:700px;
    }

    /*--- GRID ---*/
    .grid-1	{ width:25px; }
    .grid-2	{ width:70px; }
    .grid-3	{ width:115px; }
    .grid-4	{ width:160px; }

    .grid-5	{ width:205px; }
    .grid-6	{ width:250px; }
    .grid-7	{ width:295px; }
    .grid-8	{ width:340px; }

    .grid-9	{ width:385px; }
    .grid-10	{ width:430px; }
    .grid-11	{ width:475px; }
    .grid-12	{ width:520px; }

    .grid-13	{ width:565px; }
    .grid-14	{ width:610px; }
    .grid-15	{ width:655px; }
    .grid-16	{ width:700px; }

    /*--- LISTS ---*/
    ul, ol {
        margin:0 0 1em 45px;
    }
    ul ul, ol ol, ul ol, ol ul {
        /* Let’s take care of lists in lists */
        margin:0 0 0 45px;
    }
    dd {
        margin-left:45px;
    }
}


/*------------------------------------*\
	MOBILE
\*------------------------------------*/
/* CSS for mobile devices.  Linearise it! */
@media (max-width: 720px) {
    html, body {
        background:#fff;
    }
    html {
        font-size:1.125em;
    }
    body {
        padding:20px;
        width:auto;
        -webkit-text-size-adjust:none;
    }
    .grid {
        width:auto;
        float:none;
    }

    /*--- LISTS ---*/
    ul, ol {
        margin:0 0 1em 25px;
    }
    ul ul, ol ol, ul ol, ol ul {
        /* Let’s take care of lists in lists */
        margin:0 0 0 25px;
    }
    dd {
        margin-left:25px;
    }
}

/*------------------------------------*\
	PRINT
\*------------------------------------*/

@media print {
    /*
    Give everything some decent contrast.
    */
    *{
            background:#fff;
            color:#000;
            text-shadow:none!important;
    }
    /*
    Set a nice measure and take the font down to print-acceptable sizes.
    */
    body{
        width:75%;
        margin:0 auto;
        font-size:0.75em; /* 12px (if base font-size was 16px) */
    }
    /*
    A list of things you don’t want printing. Add to/subtract from as necessary. 
    */
    #nav, #footer{
        display:none;
    }
    /*
    Linearise
    */
    .grid{
            width:auto;
            float:none;
            clear:both;
    }
    /*
    Don’t let images break anything.
    */
    img{
            max-width:100%;
            height:auto;
    }
    /*
    Try to avoid tables spanning multiple pages. Not failsafe, but a good start.
    */
    table{
            page-break-before:always;
    }
    /*
    Show the accessibility class.
    */
    .accessibility{
            position:static;
    }
    /*
    Display the href of any links.
    */
    a:link:after,a:visited:after,
    a:link::after,a:visited::after{
            content: " (" attr(href) ")";
            font-size:smaller;
    }
    /*
    Any links that are root relative to your site need prepending with your URL.
    */
    a[href^="/"]:after,
    a[href^="/"]::after{
            content: " (http://nickknowlson.com" attr(href) ")";
            font-size:smaller;
    }
    /*
    Any Flash/video content can’t be printed so leave a message.
    */
    object:after,
    object::after{
            content: "Flash/video content. Head to http://nickknowlson.com/ to view this content.";
            display:block;
            font-weight:bold;
            margin-bottom:1.5em;
    }
}


/*------------------------------------*\
	CUSTOM SITE STYLES
\*------------------------------------*/

body {
    background: none;
    background: url(/img/green_squares3.png) repeat scroll 0 0 #376A44;
}

#content {
    background-color: #FFF2CF;
    min-height: 400px;
}


a {
    color: #279F9D;
}

a:hover {
    color: #1D7774;
    text-decoration: underline;
}

h1 a {
    color:#333;
}

#nav {
    height:45px; /* 25px height + 2 * 10px padding */
    background-color:#6B563F;
}

#nav ul
{
    margin:0px;
}

#nav li
{
    display: inline;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

#nav a
{
    letter-spacing: 2px;
    display: block;
    float: left;
    height:25px;
    background-color: #6B563F;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding: 8px 20px 12px 20px;
}

#nav a:hover 
{
    text-decoration:none;
    background-color: #A9C78C;
    color: #000000;
}

#nav a.selected
{
        /*background-color: #FFF2CF;*/
        background-color: white;
        color: #000000;
}

/*.highlight
{
    color: #279F9D;
}*/

.faded
{
    color: #888888;
    font-family:Calibri, "Helvetica Neue", Arial, sans-serif; 
    font-size: 12px;
}

.indent {
    padding-left:7px;   
}

.big_square_link
{
    text-align: center;
    margin-top: 10px;
}

.big_square_link a
{
    padding:20px 30px 0px;
    text-decoration: none;
    display: block;
    color: #333333
}

.big_square_link a:hover
{
    background-color: #a9c78c;
    color: #333333
}

.blockylist h1, .blockylist h2, .blockylist h3, .blockylist h4, .blockylist h5
{
    margin: 0px;
}

.blockylist ul
{
    margin: 10px 0px 10px 0px;
}

.blockylist li
{
    list-style-type: none;
}

.blockylist ul div
{
    margin: 0px;
}

.blockylist img
{
    float: left;
    margin-right: 10px;
    margin-top: 9px;
}

.blockylist a
{
    text-decoration: none;
    display: block;
    color: #333333;
    padding: 10px;
}

.blockylist a:hover
{
    background-color: #a9c78c;
    color: #000000
}

.bigblockylist > ul > li
{
    margin-bottom:10px;
}

.bigblockylist a 
{
    min-height: 110px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.bigblockylist h1 {
    padding-top:4px;
}

.bigblockylist div {
    padding-left:120px;
}

.mediumblockylist > ul > li
{
    margin-bottom:10px;
}

.mediumblockylist a 
{
    min-height: 45px;
}

div.mediumblockylist div 
{
    margin-left: 1em;
    margin-top:.5em
}


.archiveblockylist > ul > li
{
    margin-bottom:10px;
}

.archiveblockylist a 
{
    min-height: 65px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.archiveblockylist a h2
{
    padding-top: 8px;
    font-family: Cambria, Georgia, "Times New Roman", serif;; 
}

.archiveblockylist a div
{
    padding-top:2px;
}

.compact_list > li
{
    padding: 0px;
    margin: 5px 0px;
    list-style-type: none;
}

p { margin-bottom:1em;}

h2, h3, h4, h5 { 
    margin-bottom:.75em; 
    margin-top:1.5em; 
    font-family:Calibri, "Helvetica Neue", Arial, sans-serif; 
}

.last_paragraph { margin-bottom: 1.5em }

.big_text { 
	font-size:138.5%;  
}
.medium_text { 
	font-size:123.1%; 
}
.tiny_text { 
	font-size:.75em; 
}

td { 
    background: white; 
    vertical-align: middle;
}

td a { display: block;}

.blockylist time {
    display: block;
    float: left;
    padding: 0em .75em 0 0;
}

.blockylist time span {
    color: #999999;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:Calibri, "Helvetica Neue", Arial, sans-serif; 
}

.blockylist time span.month {
    font-size: 1em;
}

.blockylist time span.day {
    font-size: 1.6em;
    line-height: 0.8em;
}

.blockylist time span.year {
    font-size: 0.8em;
}

.blockylist a:hover time span, .blockylist a:hover .faded {
    color: #333;
}

#blurb {
    font-size:1.25em; 
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom:1em;
}

#profile_image {
    float:left; 
    margin-right:20px; 
    margin-bottom:10px;
    -moz-box-shadow: 0px 0px 10px 2px #888;
    -webkit-box-shadow: 0px 0px 10px 2px #888;
    box-shadow: 0px 0px 10px 2px #888;
}

#related {
    margin-top:30px;
}

#post {
    margin-bottom: 20px;
}

hr.fancyrule {
    border: none;
    height: 2px;
    background-color: #cccccc;
    color: #cccccc;
    margin: 80px 0px 60px;
}

/* jQuery lightBox plugin - Gallery style {{{ */
#gallery {
        padding: 5px;
        margin-bottom: 10px;
        height:150px;
        overflow:hidden;
}
#gallery ul { list-style: none; margin: 0px; }
#gallery ul li { display: inline; }
#gallery ul img {
        margin: 10px;
        width: 144px;
}
#gallery ul a:hover img {
        /*-moz-box-shadow: 0px 0px 15px 3px #333333;
        -webkit-box-shadow: 0px 0px 15px 3px #333333;
        box-shadow: 0px 0px 15px 3px #333333;*/
        margin:0px;
        width:164px;
}

/* }}} */

#footer {
    padding-top: 10px;
    text-align: center;
    color: white;
    clear: both;
}

.project_thumbnail {
    width: 90px;
    height:90px;
    border: 1px solid black;
    -moz-box-shadow: 0px 0px 10px 0px #888;
    -webkit-box-shadow: 0px 0px 10px 0px #888;
    box-shadow: 0px 0px 10px 0px #888;
}

pre {
    background-color: #EEEEEE;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding: 1em;
}

code {
    font-size:12px;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    background-color: #EEEEEE;
    padding: 4px;
}

pre code {
    padding: 0;   
}

#socialbuttons {
    margin-left:20px;
    vertical-align: bottom;
    margin-top: 30px;
    margin-bottom: 20px;
}

#socialbuttons div {
    display: inline-block;
    vertical-align: top;
    margin-top:10px; /* for when it wraps on smaller screens, make it look a little less awful */
}

#socialbuttons iframe { vertical-align: bottom; }

#rss_button { margin-right: 30px; }
#twitter_button { margin-right: 30px; }
#reddit_button { margin-right: 30px; }
#reddit_button iframe { margin-bottom: -3px; }

blockquote p, ul, ol { margin-bottom: .5em }
blockquote {
    background-color: #EEEEEE;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding: .5em .5em 0 .5em;
    margin: 20px;
}

.interjection {
    font-size: 88%;
}

.super {
    vertical-align: super;
    font-size:75%;
    font-family:sans-serif;
}

#post img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
