<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="description" content="{{ page.description }}">

        <title>{{page.title}} | Nick Knowlson</title>

        <link rel="stylesheet" type="text/css" href="/css/inuit.css" >
        <link rel="stylesheet" type="text/css" href="/css/style.css" >
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" >
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon-precomposed" href="/favicon.ico" >
        <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Blog ATOM Feed" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>

        {% if page.lightbox %}
        <link rel="stylesheet" type="text/css" href="/css/jquery.lightbox-0.5.css" >
        <script src="/js/jquery.lightbox-0.5.pack.js"></script>
        <script type="text/javascript">
            $(function() { 
                $('#gallery a').lightBox({
                    fixedNavigation:true,
                    imageLoading: '/img/lightbox-ico-loading.gif',
                    imageBlank: '/img/lightbox-blank.gif',
                    imageBtnClose: '/img/lightbox-btn-close.gif',
                    imageBtnPrev: '/img/lightbox-btn-prev.gif',
                    imageBtnNext: '/img/lightbox-btn-next.gif'
                });
            });
        </script>
        {% endif %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-24781362-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body>
	<div id="header" class="grid grid-16">
            <a href="/"><img src="/img/logos/logo3.png" alt="logo" /></a>
            <ul id="nav">
                <li><a class="{{page.home}}" href="/">Home</a></li>
                <li><a class="{{page.about}}" href="/about/">About</a></li>
                <li><a class="{{page.projects}}" href="/projects/">Projects</a></li>
                <li><a class="{{page.blog}}" href="/blog/">Blog</a></li>
                <li><a class="{{page.contact}}" href="/contact/">Contact</a></li>
            </ul>
	</div>

        <div id="content" class="grid grid-16" style="background-color:white; clear:both;">
            <div style="padding:25px">
                {{ content }}
            </div>
        </div>
        <div id="footer">&copy; Copyright 2011 Nick Knowlson</div>
        <!--  " - {{ site.time | date: "%Y" }}" -->
    </body>
</html>
