---
layout: base
projects: selected
lightbox: true
---
<p> <a href="/projects/">&laquo; Back to projects</a></p>

<img class="project_thumbnail" style="float: right;" src="{{ page.thumbnail }}">
<h1 style="">{{ page.title }}</h1>
<div><strong>Languages: </strong>{{ page.languages }}</div>
<div><strong>Summary: </strong>{{ page.summary }}</div>
{% if page.github != empty %}
<div style="margin-bottom:.75em;"><strong>Source code: </strong><a href="http://github.com/nickknw/{{ page.github }}">github</a> <span style="font-size:.85em">[<a href="http://github.com/nickknw/{{ page.github }}/tarball/master">.tar.gz</a> / <a href="http://github.com/nickknw/{{ page.github }}/zipball/master">.zip</a>]</span></div>
{% endif %}

<h2>Details</h2>
<p>{{ content }}</p>

{% if page.screenshots != empty %}
<div id="gallery">
    <ul>
        {% for screenshot in page.screenshots %}
        <li>
            <a href="{{ screenshot[0] }}" title="{{ screenshot[2] }}">
                <img src="{{ screenshot[1] }}" width="144" height="144" alt="{{ screenshot[2] }}" />
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% for video in page.videos %}
    <div>video URL: {{ video[0] }} - CAPTION: {{ video[1] }}</div>
{% endfor %}
